<% form_for @holiday do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date_from %><br />
    <%= f.date_select :date_from %>
  </p>
  <p>
    <%= f.label :number_of_days %><br />
    <%= f.text_field :number_of_days %>
  </p>
  <p>
    <%= f.label :date_to %><br />
    <%= f.date_select :date_to %>
  </p>
    <p>
    <% if current_user.id == 14 %>
    <%= f.label :approved %><br />
    <%= f.check_box(:approved) %>
    <% else %>
    <%= f.label :approved %><br />
    <%=h @holiday.approved %></td>
    <% end %>
  </p>
  <p><%= f.submit %></p>
  <hr>
  <div id="nextsixmonths">
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month %></div>
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month+1 %></div>
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month+2 %></div>
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month+3 %></div>
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month+4 %></div>
  <div class="cal"><%= calendar :year => Time.now.year, :month => Time.now.month+5 %></div>
  </div>
<% end %>
